<div class="container">
  <div class="row">
    <h1>Known registrations</h1>
    <table class="table table-striped table-sortable">
      <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Participants</th>
        <th>Arrival</th>
        <th>Departure</th>
        <th>Flight numbers</th>
      </thead>
      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.participants.first.name %></td>
            <td><%= registration.phone %></td>
            <td><%= registration.email %></td>
            <td><%= registration.participants.length %></td>
            <td><%= registration.arrival_at %></td>
            <td><%= registration.departure_at %></td>
            <td><%= registration.arrival_flight_no %> / <%= registration.departure_flight_no %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h1>Pending Registrations</h1>
    <table class="table table-striped table-sortable">
      <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Participants</th>
      </thead>
      <tbody>
        <% @pending_registrations.each do |registration| %>
          <tr>
            <td><%= registration.participants.first.name %></td>
            <td><%= registration.phone %></td>
            <td><%= registration.email %></td>
            <td><%= registration.participants.length %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
