<% @page_title = "Puja Registration" %>

<div class="sub-page">
  <h1>Registration Desk</h1>
  <div class="container">
    <section>
      <%= simple_form_for @registration do |f| %>
        <%= f.input :registration_type, as: :hidden %>
        <h3>Contact information</h3>
        <%= f.input :email, hint: "Booking confirmation and payment link will be sent to this email." %>
        <%= f.input :phone, hint: "A phone number which we can use before and during the puja." %>
        <%= f.input :country, as: :hidden %>
        <hr>
        <h3>Choose a type of Accommodation</h3>
        <p>
          We have three options for accommodation. Cabins, hostel or tents with
          varying costs. Food from Friday dinner to Monday breakfast is included
          in the in all three options. Note that regarding cost, small children (up to 3 years old) can come free of charge and
          children up to 12 years old will not be asked for any extra donation.
        </p>
        <%= f.input :accommodation,
          as: :radio_buttons,
          collection: accommodation_options,
          label: false
        %>
        <hr>
        <h3>Participants</h3>
        <p>
          You may register just a single person. But if you are paying for a group of people staying in the same
          type of accommodation the easiest way to register is to add everyone
          via the Add participant button.
        </p>
        <div id="participants">
          <%= f.fields_for :participants do |ff| %>
            <div class="duplicatable_nested_form">
              <div class="row">
                <div class="col-sm-4">
                  <%= ff.input :name %>
                </div>
                <div class="col-sm-3">
                  <%= ff.input :gender, as: :select, collection: gender_options, include_blank: false %>
                </div>
                <div class="col-sm-3">
                  <%= ff.input :age, as: :select, collection: age_options, include_blank: false %>
                </div>
                <div class="col-sm-2">
                  <%= link_to "remove", "#", class: "btn btn-warning btn-xs remove-participant" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a href="#" class="btn btn-warning btn-sm" id="add-participant-button"><%= glyph_icon("plus") %> Add participant</a>
        <hr>
        <h3>Transporation</h3>
        <p>
          For groups of yogis traveling together we recommend sharing a taxi from the airport. It is also
          easy and cheap to use Gothenburgs public transport system. However if you prefer to be picked up by
          a yogi we will arrange some vans to shuttle people from the airport. Please tick the checkbox
          below and we'll email you the details.
        </p>
        <%= f.input :transport, as: :boolean, label: "Yes, I need yogi transport from the airport" %>
        <hr>
        <h3>Comment</h3>
        <p>
          If any participants have any allergies or you want to bring pets please let us know using the
          comment field below.
        </p>
        <%= f.input :comment, label: false %>
        <%= f.button :submit, "Register!", class: "btn-primary btn-lg" %>
      <% end %>
    </section>
  </div>
</div>
