<% @page_title = "Puja Registration" %>

<div class="sub-page">
  <h1>Registration Desk</h1>
  <div class="container">
    <section>
      <%= simple_form_for @registration do |f| %>
        <% if @registration.errors[:base].any? %>
          <div class="alert alert-danger">
            <%= @registration.errors.messages[:base].to_sentence.capitalize %>.
          </div>
        <% end %>
        <%= f.input :registration_type, as: :hidden %>
        <h3>Contact information</h3>
        <%= f.input :email, hint: "Booking confirmation and payment link will be sent to this email." %>
        <%= f.input :phone, hint: "A phone number which we can use before and during the puja." %>
        <%= f.input :country, as: :hidden %>
        <hr>
        <h3>Choose a type of Accommodation</h3>
        <p>
          We have different options for accommodation. Heated sleeping tents, cabins, hostel and nearby hotels
          with varying costs. Food from Friday dinner to Monday breakfast is included
          in the in all three options. Note that regarding cost, small children (up to 3 years old) can come free of charge and
          children up to 12 years old will not be asked for any extra donation.
        </p>
        <%= f.input :accommodation,
          as: :radio_buttons,
          collection: accommodation_options,
          label: false
        %>
        <p>
          In case you need a proper bed and all cabins, hostels and hotel rooms are fully booked.
          <b>Extra beds are available on request, for pregnant ladies or elderly yogis only.</b>
          Please email us on
          <a href="mailto:adishaktipuja+accommodation@gmail.com">adishaktipuja+accommodation@gmail.com</a>
          if you wish to apply for them.
        </p>
        <hr>
        <h3>Participants</h3>
        <p>
          You may register just a single person. But if you are paying for a group of people staying in the same
          type of accommodation the easiest way to register is to add everyone together
          via the Add participant button.
        </p>
        <div id="participants">
          <%= f.fields_for :participants do |ff| %>
            <div class="duplicatable_nested_form">
              <div class="row">
                <div class="col-sm-4">
                  <%= ff.input :name %>
                </div>
                <div class="col-sm-3">
                  <%= ff.input :gender, as: :select, collection: gender_options, include_blank: false %>
                </div>
                <div class="col-sm-3">
                  <%= ff.input :age, as: :select, collection: age_options, include_blank: false %>
                </div>
                <div class="col-sm-2">
                  <%= link_to "remove", "#", class: "btn btn-warning btn-xs remove-participant" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a href="#" class="btn btn-warning btn-sm" id="add-participant-button"><%= glyph_icon("plus") %> Add participant</a>
        <hr>
        <h3>Transportation</h3>
        <p>
          Since we have limited number of cars and drivers available for pickup we kindly ask
          you to evaluate using public transport to reach the puja site as outlined on the
         <%= link_to "travel section", "#{root_path}#travel", target: "_blank" %> of our main page.
          However if you prefer to be picked at the airport, please tick the checkbox below and we'll email you the details.
        </p>
        <%= f.input :transport, as: :boolean, label: "Yes, I need yogi transport from the airport" %>
        <hr>
        <h3>Comment</h3>
        <p>
          If any participants have any allergies or you want to bring pets please let us know using the
          comment field below.
        </p>
        <%= f.input :comment, label: false %>
        <%= f.button :submit, "Register!", class: "btn-primary btn-lg", "data-disable-with" => "Registering..." %>
      <% end %>
    </section>
  </div>
</div>
